@media (width <= 1360px )  {
  .homeCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }.homeText{
    align-items: center;
  }.homeText button{
    margin-bottom: 40px;
  }
}

.homeCont {
  display: flex;
  
  justify-content: space-between;

  margin-left: 10.5vw;
  margin-right: 10.5vw;
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeText {
  display: flex;
  flex-direction: column;
  
  

  justify-content: first baseline;
}.homeText strong {
  font-size: 3.5rem;
}
.homeText button {
  width: 200px;
  height: 50px;
  border:none;
  border-radius: 10px;

  color:rgba(195, 151, 90, 0.896) ;
  font-size: 1.6rem;
  transition: 0.1s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}.homeText button:hover{
  transform: scale(1.1);
}.homeText p{
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2rem;
}

.homeImage {
  width: clamp(300px,400px,400px);
}

.homeImage img {
  width: 100%;
  height: auto;

  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}