<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Home.css">
</head>

<body class="homeBody">
    <main class="homeMain">

        <div class="homeCont">

            <img src="./openart.jpg">
        </div>

        <!--<div class="homeFrete">
            <li>FRETE GRATIS ACIMA DE R$90 </li>
            <li>TODO O SITE COM ATÉ 50% OFF </li>
            <li>FRETE GRATIS ACIMA DE R$90 </li>
            <li>TODO O SITE COM ATÉ 50% OFF </li>
        </div>-->

        <div class="homeProd">
            <div class="">

            </div>
        </div>

    </main>
</body>

</html>