@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    display: flex;
    flex-direction: column;


    font-family: Roboto;
    font-weight: 700;

    margin: 0px;

    border-radius: 10px;

    color: white;
    background: linear-gradient(180deg, rgba(195, 151, 90, 0.896), rgb(195, 156, 101));
    background-repeat: no-repeat;

    min-height: 100vh;
}

#layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    flex: 1; 

    margin-top: 50px;
    margin-left: 6vw;
    margin-right: 6vw;
}