@media(width <=1300px) {
    .produtosCont {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


dash-produtos {
    width: 100%;


}

.produtosCont {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


    padding: 20px;
    border-radius: 10px;
    
}

.produtosHead {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.produtosHead strong {
    color: rgb(22, 12, 0);
    font-size: 1.6rem;
}

/*----------------------------------------------------------------------------*/

.produtosSearchCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.produtosSearchCont input {
    font-size: 1.2rem;
    border: 2px solid rgb(22, 12, 0);
    border-radius: 5px;

}

.produtosSearchCont input::placeholder {


    opacity: 20;
}


.produtosSearchCont button {
    border: none;
    border-radius: 5px;
    background-color: rgb(22, 12, 0);
    cursor: pointer;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    transition: 0.05s;
}

.produtosSearchCont button:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.produtosSearchCont select {
    width: 180px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(22, 12, 0);
    cursor: pointer;
}



.produtosSearchCont option {
    width: 180px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 10px;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(22, 12, 0);
    cursor: pointer;

}




/*---------------------------------------------------------------------------------*/






.tableHead {
    display: flex;
    flex-direction: row;

    justify-content: space-between;


    background-color: rgb(22, 12, 0);




    border: solid 1px rgb(22, 12, 0);
    border-radius: 9px;
    margin-bottom: 3px;

}

.tableHead strong {
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 100%;

}





/*---------------------------------------------------------------------------------*/



.table {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(22, 12, 0);
    border-radius: 9px;
}



.tableLinhas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2px;

    background-color: rgb(255, 255, 255);

    color: rgb(22, 12, 0);

}

.tableLinhas strong {
    color: rgb(22, 12, 0);
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(218, 218, 218);
    overflow: auto;

}

.tableLinhas strong:nth-last-child(1) {
    display: flex;

}

.table .tableLinhas:nth-last-child(1) strong {
    color: rgb(22, 12, 0);
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    overflow: auto;

}

.footerActions {
    display: flex;
    width: 100%;
}

.footerActions svg {
    width: 23px;
    height: auto;


    transition: 0.1s;
    cursor: pointer;
}

.footerActions svg:hover {
    transform: scale(1.1);
}

#pencil {
    margin-right: 10px;
}